{% extends "base.html" %}

{% block content %}
<center><u><h2>Зарегистрированные пользователи</h2></u></center>
<table class="table table-bordered success">
    <tr>
        <td>Id</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Email</td>
        <td>Баланс</td>
        <td>Права</td>
        <td></td>
    </tr>
    {% for user in users %}
        {% include "userline.html" %}
    {% endfor %}
</table>
{% endblock %}