{% extends "base.html" %}

{% block content %}
<center><u><h2>Товары на складе</h2></u></center>
<table class="table table-bordered success">
    <tr>
        <td>Id</td>
        <td>Наименование</td>
        <td>Описание</td>
        <td>Кол-во</td>
        <td>Цена</td>
        <td>Тип</td>
        <td>Производитель</td>
        <td></td>
    </tr>
    {% for instrument in instruments %}
        {% include "instrumentline.html" %}
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="{{url_for('add_new_instrument')}}">Add new instrument</a></td>
    </tr>

</table>

{% endblock %}