{% extends "base.html" %}

{% block content %}
    <br><br>
    <center><h3>Таблица заказов пользователей</h3></center>
    <table class="table table-bordered success">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Инструмент</td>
            <td>Цена</td>
            <td>Тип инструмента</td>
            <td>Cтатус</td>
            <td>Время</td>
        </tr>
        {% for item in orders %}
        <tr>
                <td>{{item[5].first_name}}</td>
                <td>{{item[5].second_name}}</td>
                <td>{{item[1].name}}</td>
                <td>{{item[1].price}}</td>
                <td>{{item[2].type}}</td>
                <td>
                    {% if change_id == -1 %}
                        {{item[4].status}}<a class="glyphicon glyphicon-pencil" href="{{url_for('admin_ordering', id=item[0].id)}}"></a>
                    {% elif change_id == item[0].id %}
                    <form id="form_id" method="post" action="" name="change_status">
                        {{form.hidden_tag()}}
                        <input type="hidden" value="{{item[0].id}}" name="number">
                        {{form.status()}}
                        <input type="submit" value="Ok" name="sdff">
                    </form>
                    {% else %}
                        {{item[4].status}}<a class="glyphicon glyphicon-pencil" href="{{url_for('admin_ordering', id=item[0].id)}}"></a>
                    {% endif %}
                </td>
                <td>{{item[0].time}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}