{% extends "base.html" %}

{% block content %}
<h2>Управление:</h2>
<ul>
    <li><a href="{{url_for('admin_user')}}">Управление пользователями</a></li>
    <li><a href="{{url_for('admin_instrument')}}">Управление товарами</a></li>
    <li><a href="{{url_for('admin_ordering')}}">Управление покупками</a></li>
</ul>
{% endblock %}