<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
        <title>MusicStore: {{title}}</title>
    {% else %}
        <title>MusicStore</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MusicStore</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('index')}}">Главная страница</a></li>
                    {% if current_user.role == 0 %}
                        <li><a href="{{url_for('admin_room')}}">Кабинет администратора</a></li>
                    {% endif %}
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><h4>
                            <a href="{{url_for('current_user_case', id=current_user.id)}}">Корзина покупок:</a>
                            <a href="{{url_for('current_user_case', id=current_user.id)}}"
                               class="glyphicon glyphicon-shopping-cart"><span class="bange">{{get_count_in_case()}}</span>
                            </a></h4></li>
                    {% endif %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Вход/Выход <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if current_user.is_authenticated() %}
                                <li><a href="{{url_for('logout')}}">Выйти</a></li>
                            {% else %}
                                <li><a href="{{url_for('login')}}">Войти</a></li>
                                <li><a href="{{url_for('signin')}}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>>
            </div>
                <center>
                    {% for url in get_type_and_url() %}
                        <a class="btn btn-primary" href="{{url[1]}}">{{url[0].type}}</a>
                    {% endfor %}
                </center>
        </div>
    </div>
    <br><br><br><br>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>