{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    function update_submit(form) {
        form.submit();
    }
</script>
<div class="row">
    <br><br>
    <form id="id_form" action="" method="post" name="filter_form" style="border: 1px solid #c0c0c0" class="form-horizontal">
        <h4>Производитель</h4>
        {{ form.hidden_tag() }}
        <center>
            {% for subfield in form.filterProducer %}
                <tr>
                    <td>{{subfield(onchange="document.getElementById('id_form').submit();")}}</td>
                    <td>{{subfield.label}}</td>
                </tr>
            {% endfor %}
        </center>
    </form>
    <br>
    {% for instrument in instruments %}
        {% include "widgetoninstrument.html" %}
    {% endfor %}
</div>
{% endblock %}