{% extends "base.html" %}

{% block content %}
<center><u><h2>Изменение сведений о инструменте:</h2></u></center>
<form method="post" action="" name="changer_instrument">
    {{form.hidden_tag()}}
    <table class="table table-bordered success">
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Кол-во</td>
            <td>Цена</td>
            <td>Тип</td>
            <td>Производитель</td>
        </tr>
        <tr>
            <td>{{form.name(class="form-control", placeholder="Введите название")}}
                {% for error in form.name.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
            <td>
                {{form.description(class="form-control", placeholder="Введите описание")}}
                {% for error in form.description.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
            <td>
                {{form.count(class="form-control", placeholder="Введите кол-во")}}
                {% for error in form.count.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
            <td>
                {{form.price(class="form-control", placeholder="Введите цену")}}
                {% for error in form.price.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
            <td>
                {{form.type(class="form-control")}}
                {% for error in form.type.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
            <td>
                {{form.producer(class="form-control")}}
                {% for error in form.producer.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary" type="submit">Применить</button></td>
        </tr>
    </table>
</form>

{% endblock %}