{% extends "base.html" %}

{% block content %}
<center><u><h2>Изменение сведений о пользователе:</h2></u></center>
<form method="post" action="" name="changer_info_user">
    {{form.hidden_tag()}}
    <table class="table table-bordered success">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            <td>Пароль</td>
            <td>Баланс</td>
        </tr>
        <tr>
            <td>{{form.first_name(class="form-control", placeholder="Введите имя")}}</td>
            <td>{{form.second_name(class="form-control", placeholder="Введите фамилию")}}</td>
            <td>{{form.email(class="form-control", placeholder="Введите email")}}</td>
            <td>{{form.password(class="form-control", placeholder="Введите пароль")}}</td>
            <td>{{form.balance(class="form-control", placeholder="Введите новый баланс")}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary" type="submit">Применить</button></td>
        </tr>
    </table>
</form>

{% endblock %}