{% extends "base.html" %}

{% block content %}
    <br><br>
    <h2><b>У пользователя {{current_user.first_name}} на счету {{balance.balance}} руб.</b></h2>
    <center><h3>Таблица товаров, помещенных в корзину</h3></center>
    <table class="table table-bordered success">
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Кол-во</td>
            <td>Тип</td>
            <td>Производитель</td>
            <td>Стоимость</td>
        </tr>
        {% for node in instruments %}
        <tr>
            <td>{{node[1].name}}</td>
            <td>{{node[1].description}}</td>
            <td>{{node[0].count}}</td>
            <td>{{node[2].type}}</td>
            <td>{{node[3].marka}}</td>
            <td>{{node[1].price}}</td>
            <td>
                <div>
                    <a href="{{url_for('delete_from_case', id=node[0].id)}}">отказаться</a>
                </div>
                <div>
                    <a onclick="alert('Покупка совершена. Дождитесь доставки товара.')" href="{{url_for('add_into_ordering_case', id=node[1].id)}}">купить</a>
                </div>
                <div>
                    <a href="{{url_for('full_description_instrument', id=node[1].id)}}">подробное описание</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}