{% extends "base.html" %}

{% block content %}
    <br><br>
    <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
        <img src="{{url_for('static', filename=instrument[3].url)}}" width="400px" height="100px" class="img-thumbnail">
        <div class="caption">
            <center><h5><b>{{instrument[0].name}}</b></h5></center>
            <div style="border: solid 1px #c0c0c0">
            <p><b>Полное описание:</b><br>{{instrument[0].description}}</p>
            </div>
            <div><p><b>Производитель:</b> {{instrument[2].marka}}</p></div>
            <p>
                {% if instrument[0].count >= 1 %}
                    <div style="color:green;">В наличии: {{instrument[0].count}} шт.</div>
                {% else %}
                    <div style="color:red;">Отсутсвует в продаже</div>
                {% endif %}
            </p>
            <p> Цена: {{ instrument[0].price}} руб.</p>
            <p>
                {% if current_user.is_authenticated() %}
                    <a onclick="output_message('Товар добавлен в корзину')" href="{{url_for('add_into_case', id=instrument[0].id)}}" class="btn btn-primary">
                        Купить
                    </a>
                {% else %}
                    <a href="{{url_for('add_into_case', id=instrument[0].id)}}" class="btn btn-primary">
                        Купить
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}