{% extends "base.html" %}

{% block content %}
    <div class="starter-template">
        <h1>MusicStore</h1>
        <p class="lead">
            Интернет-магазин MusicStore занимается продажей музыкального оборудования и инструментов,
            как в Москве, так и  по всей России уже более 4 лет,  предоставляет своим клиентам высокий
            и современный уровень сервиса на всех этапах оформления, обработки и доставки заказа.
        </p>
    </div>
{% endblock %}