<tr>
    <td>{{ instrument[0].id }}</td>
    <td>{{ instrument[0].name }}</td>
    <td>{{ instrument[0].description }}</td>
    <td>{{ instrument[0].count }}</td>
    <td>{{ instrument[0].price }}</td>
    <td>{{ instrument[1].type }}</td>
    <td>{{ instrument[2].marka }}</td>
    <td>
        <a href="{{url_for('change_data_instrument', id=instrument[0].id)}}" class="glyphicon glyphicon-pencil"></a>
        <a href="{{url_for('delete_instrument', id=instrument[0].id)}}" style="color:red;" class="glyphicon glyphicon-remove-circle"></a>
    </td>
</tr>