{% extends "base.html" %}

{% block content %}
<div class="col-sm-3 col-md-3">
    <form class="form-signin" method="post" role="form">
        {{form.hidden_tag()}}
        <h2 class="form-signin-heading">Авторизация</h2>
        {{ form.email(class="form-control", placeholder="Email address") }}
        {% for error in form.email.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        {{ form.password(class="form-control", placeholder="Password")}}
        {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        {{ form.remember_me(value="remember-me") }} Запомнить
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        {% if error %}
            <span style="color:red;">{{error}}</span>
        {% endif %}
    </form>
</div>
{% endblock %}