{% extends "base.html" %}

{% block content %}
<div class="col-sm-3 col-md-3">
    <form class="form-signin" method="post" name="signin" role="form">
        {{form.hidden_tag()}}
        <h2 class="form-signin-heading">Регистрация</h2>
        {{ form.first_name(class="form-control", placeholder="Введите имя") }}
        {% for error in form.first_name.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        {{ form.second_name(class="form-control", placeholder="Введите фамилию")}}
        {% for error in form.second_name.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        {{ form.email(class="form-control", placeholder="Введите email")}}
        {% for error in form.email.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        {{ form.password(class="form-control", placeholder="Введите пароль") }}
        {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
        {% if error %}
            <span style="color:red;">{{ error }}</span>
        {% endif %}
    </form>
</div>
{% endblock %}