<tr>
    <td>{{ user[0].id }}</td>
    <td>{{ user[0].first_name }}</td>
    <td>{{ user[0].second_name }}</td>
    <td>{{ user[0].email }}</td>
    <td>{{ user[1].balance }}</td>
    <td>{{ user[0].role }}</td>
    <td>
        {% if user[0].role == 0 %}
            <a href="{{url_for('change_data_user', user_id=user[0].id)}}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}

        {% if current_user.role == 1 %}
            <a href="{{url_for('remove_user', id=user[0].id)}}">
                <span style="color:red; padding-left:2px;" class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
    </td>
</tr>