<script type="text/javascript">
    function output_message(message) {
        alert(message);
    }
</script>

<div class="col-sm-3 col-md-3">
    <div class="thumbnail">
        <img src="{{url_for('static', filename=instrument[3].url)}}" width="300px" height="100px" class="img-thumbnail">
        <div class="caption">
            <center><h5><b>{{instrument[0].name}}</b></h5></center>
            <p>
                {% if instrument[0].count >= 1 %}
                    <div style="color:green;">В наличии</div>
                {% else %}
                    <div style="color:red;">Отсутсвует в продаже</div>
                {% endif %}
            </p>
            <p> Цена: {{ instrument[0].price}} руб.</p>
            <p>
                <a href="{{url_for('full_description_instrument', id=instrument[0].id)}}" class="btn btn-primary">
                    Подробнее
                </a>
                {% if current_user.is_authenticated() %}
                    <a onclick="output_message('Товар добавлен в корзину')" href="{{url_for('add_into_case', id=instrument[0].id)}}" class="btn btn-primary">
                        Купить
                    </a>
                {% else %}
                    <a href="{{url_for('add_into_case', id=instrument[0].id)}}" class="btn btn-primary">
                        Купить
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>